body {
    margin: 0px;
}

header {
    text-align: center;
    padding: .2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #13679C;
    margin: 0px;
    border-top: solid darkgray;
    color: beige;
}

footer {
    font-style: italic;
    color: #FFFFFF;
    background-color: #13679C;
    text-align: right;
    padding: 5px;
    border-bottom: solid darkgrey;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: x-large;
    font-style: bold;
    text-align: center;
}
